body {
    padding-top: 70px;
    background-image: url('./images/body-bg.png');
}



/*================= 
=========                                                      ==========
===================  == == Home banner section  == ==  ==================
=========                                                      ==========
                                                =========================
*/
#main-header {
    transition: all 0.3s ease-in-out;
}

#main-header {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: transparent;
    transform: translateY(70px);
    -webkit-transition: transform 500ms ease, background 500ms ease;
    transition: transform 500ms ease, background 500ms ease;
}

#main-header.scrolled {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    top: 0;
    transform: translateY(0);
    background: #ffffff;
}



.logo img {
    width: 45px;
    height: 45px;
}

.navbar-nav .nav-link {
    margin: 0px 20px;
    color: black !important;
    font-weight: 500;
    transition: color 0.3s ease;
}


.navbar-nav .nav-link:hover {
    color: #4458dc !important;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        padding-top: 1rem;
    }

    .navbar-nav .nav-link {
        padding: 0.5rem 0;
    }
}


/*================= 
=========                                                      ==========
===================  == == Home banner section  == ==  ==================
=========                                                      ==========
                                                =========================
*/


.home-banner {
    position: relative;
    display: flex;
    background-image: url('/css/images/home-banner.png');
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: white;
}

.home-banner .container {
    max-width: 50%;
    height: auto;
    padding: 50px;
}


.home-banner .container h1 {
    color: black;
    line-height: 50px;
    font-size: 3.5rem;
    margin: 0px;
    font-weight: 700;
}

.home-banner .container p {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 500;
}

.home-banner .btns {
    padding: 5px 0px;
    width: 300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn {

    align-items: center;
    background-image: linear-gradient(to right, rgb(68, 88, 220) 0%, rgb(133, 79, 238) 100%), radial-gradient(circle at left top, rgb(68, 88, 220), rgb(133, 79, 238));
    border: 2px solid rgb(68, 88, 220) !important;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    text-decoration: none;
    transition: all 0.3s ease;
    width: auto;
}

.btn:hover,
.btn:focus {
    background: none !important;
    border: 2px solid rgb(68, 88, 220) !important;
    color: #000 !important;
    box-shadow: none !important;
}

.btn:active {
    background: none;
    border-color: rgb(68, 88, 220);
    color: rgb(68, 88, 220) !important;
}

.home-banner .btns .btn1 {
    color: white;
}

.home-banner .btns .btn2 {
    align-items: center;
    color: #000;
    background: transparent;
    border-color: rgb(68, 88, 220) !important;
    border-radius: .25rem;
    /* box-sizing: border-box; */

}

.btn2:hover,
.btn2:focus {
    background-image: linear-gradient(to right, rgb(68, 88, 220) 0%, rgb(133, 79, 238) 100%), radial-gradient(circle at left top, rgb(68, 88, 220), rgb(133, 79, 238)) !important;
    /* border-color: rgb(68, 88, 220); */
    color: white !important;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px; */
}

.btn2:active {
    background-image: linear-gradient(to right, rgb(68, 88, 220) 0%, rgb(133, 79, 238) 100%), radial-gradient(circle at left top, rgb(68, 88, 220), rgb(133, 79, 238));
    border-color: rgb(68, 88, 220);
    color: rgb(68, 88, 220);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}




.home-banner .banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner .banner-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .home-banner {
        flex-direction: column;
        text-align: center;
    }

    .home-banner .container {
        max-width: 100%;
        padding: 20px;
    }

    .home-banner .banner-image {
        margin-top: 30px;
        width: 100%;
    }

    .home-banner .container h1 {
        font-size: 2.5rem;
    }

    .home-banner .container p {
        font-size: 1.2rem;
    }

    .home-banner .btn-primary {
        font-size: 1rem;
        padding: 12px 30px;
    }
}


/*
================= 
=========                                              ==========
=================== == == about section == ==  ==================
=========                                              ==========
                                               ==================
*/

.about title {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.about text {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}


.about .img-box {
    padding: 45px;
}

.about img {
    max-width: 100%;
    height: auto;
}

.about .btn {
    font-size: 15px;
    color: white;
}


/*
================= 
=========                                               ==========
=================== == == skills section == ==  ==================
=========                                               ==========
                                                ==================
*/
.skills-section {
    padding: 150px 100px;
    height: auto;
}

.nav-tabs {
    border-bottom: none !important;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.nav-tabs .nav-link {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    padding: 8px 16px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border: none;
}

.nav-tabs .nav-link.active {
    border: none;
    color: #000;
    font-weight: 600;
}


.single-skill-item {
    margin: 8px 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.single-skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.skill-info-box {
    padding: 50px 70px;
    background: transparent;
    font-size: 15px;
    color: #444;
    line-height: 1.6;
}

.skill-info-box h4 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
    font-weight: 600;
}

.skill-info-box ul {
    padding-left: 20px;
}


/*
================= 
=========                                                  ==========
=================== == == portfolio section == ==  ==================
=========                                                  ==========
                                                    ==================
*/
.Portfolio {
    padding: 0px 100px;
}

.Portfolio h2 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #333;
    font-size: 2.2rem;
    margin-bottom: 60px;
    letter-spacing: 1px;
}

.projects-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}

.single-project {
    margin-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
    transition: all 0.4s ease-in-out;
    background: #ffffff;
    padding: 20px;
    height: auto;
}

.single-project .project-img-container {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 8px;
}

.single-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.single-project:hover img {
    transform: scale(1.05);
}

.project-info {
    width: 100%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    transition: all 0.3s ease;
    border-top: 2px solid #0056b3;
}


.project-info h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.project-info h4 a {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-info h4 a:hover {
    color: #ff6600;
}

.project-info p {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}

/*
================= 
=========                                                ==========
=================== == == service section == ==  ==================
=========                                                ==========
                                                 ==================
*/

.service {
    padding: 50px;
}

.features_area {
    padding: 60px 100px;
    background-color: transparent;
}

.features_area .main_title {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.features_area .main_title h2 {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.features_area .main_title p {
    font-size: 16px;
    color: #777;
    line-height: 1.6;
    text-transform: initial;
}

.feature_item {
    text-align: center;
    background-color: #fbfbff;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    transition: box-shadow 0.3s ease-in-out;
}

.feature_item img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.feature_item h4 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.feature_item p {
    font-size: 16px;
    color: #777;
    line-height: 1.6;
}

.feature_item:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.feature_inner .col-lg-3 {
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .feature_item {
        padding: 25px;
    }
}

@media (max-width: 767px) {
    .features_area .main_title h2 {
        font-size: 28px;
    }

    .features_area .main_title p {
        font-size: 14px;
    }

    .feature_item {
        padding: 20px;
    }

    .feature_item h4 {
        font-size: 18px;
    }

    .feature_item p {
        font-size: 14px;
    }
}

/*
================= 
=========                                                ==========
=================== == == contact section == ==  ==================
=========                                                ==========
                                                 ==================
*/
.contact {
    padding: 50px;
}

.contact-section {
    padding: 60px 0;
    background: transparent;
    color: #333;
}

.contact-section .section-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    word-spacing: 1px;
}

.contact-section .section-description {
    font-size: 18px;
    margin-bottom: 40px;
    color: #666;
}

.contact-info .info-item {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none !important;
}

.contact-info .info-item img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    margin-bottom: 15px;
}


.contact-info .info-item p a {
    color: #000;
    text-decoration: none !important;
}

.contact-info .social-links {
    margin-top: 20px;
}

.contact-info .social-link {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.contact-info .social-links a img {
    width: 45px;
    height: 45px;
}

.contact-form {
    background: transparent;
    padding: 30px;
    border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form a {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.3);
}

.contact-form button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: none !important;
}


.contact-form button:hover {
    background: #0056b3;
}


/*
================= 
=========                                               ==========
=================== == == Footer section == ==  ==================
=========                                               ==========
                                                ==================
*/

/* Footer Section */
.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 40px 0;
    padding-bottom: 0px;
}

.footer .footer-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

.footer .footer-text {
    font-size: 15px;
    line-height: 1.6;
}

.footer a {
    color: #ecf0f1;
    text-decoration: none;
}



.footer .btn-link {
    color: #ecf0f1;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.fsocial-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fsocial-links a {
    margin: 10px;
    font-size: 24px;
}

.footer .fsocial-links a img {
    width: 45px;
    height: 45px;
}

.footer .col-md-4 {
    text-align: center;
}


.footer .footer-bottom {
    border-top: 2px solid white;
    padding: 20px;
    justify-content: center;
}